#dentaku{
	background:gray;
	margin:30px;
	width:500px;
	height:600px;
	padding:20px;
}
#window{
	background:white;
	height:38px;
	padding:10px;
	font-size:35px;
}
#symbol,#number{
	margin-top:40px;
	height:500px;
	background:#ccc;
}
#symbol{
	background:#ccc;
	width:100px;
	float:right;
}
#symbol div{
	background:#aaa;
	height:75px;
	width:70px;
	margin-left:15px;
	margin-top:29px;
	cursor:pointer;
	font-size:50px;
	text-align:center;
	padding-top:15px;
}


#number{
	width:380px;
	float:left;
}
#number div{
	background:#aaa;
	height:75px;
	width:90px;
	margin-top:29px;
	margin-right:27px;
	float:right;
	cursor:pointer;
	font-size:50px;
	text-align:center;
	padding-top:15px;
}
