*{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
html,body{
    margin:0px;
    padding:0px;
}
#q{
    background:#eee;
    margin:0px;
    padding:0px;
}
